<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oooops</title>
</head>
<body>
    <h1>Ooops, there was a problem... but wait !</h1>

    <p>{{error}}</p>
    <p>{{message}}</p>

</body>
</html>