<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <p>{{text}}</p>
    <ul>
        {{#list}}
            <li>{{.}}</li>
        {{/list}}
    </ul>
    <p>{{object.a}}</p>
    <p>{{object.b}}</p>
    <p>{{object.c}}</p>

    <p>{{func}}</p>

</body>
</html>